.successStoriesSection {
  background-color: rgba(112, 149, 9);
}
.successStoriesSection h2 {
  text-align: center;
  padding-top: 20px;
  color: white;
}

.successStories {
  padding: 40px 80px 60px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}
.newsletterSignup {
  width:fit-content;
  margin: 0 auto;
  padding-bottom: 40px;
}
