.homeIntro {
  width: 100vw;
  background-image: url("../../images/bright_green_clover_field.jpg");
  background-position: center;
  background-size:contain
}

/* ^ Intro Section */

.intro {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}

/* ^ Stats Section */

.stats {
  background: linear-gradient(to top, rgba(112, 149, 9, .85) 95%, rgba(112, 149, 9, 0));
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.statsContainer{
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.statsIcon{
  height: 160px;
  aspect-ratio: 1/1;
  background-color: #DB8EBE;
  border-radius: 80px;
}
.statsTitle{
  color: #DB8EBE;
}