.newsletterSignupContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: end;
}
.newsletterSignupLabel {
  color: #db8ebe;
}
.newsletterSignupForm {
  display: flex;
}
.newsletterSignupInput {
  border: none;
  width: 260px;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px 0 0 20px;
  font-size: 16px;
  background-color: #d3e181;
  color: #30362f;
}
.newsletterSignupInput:hover {
  background-color: #e1f08f;
  transition: all 0.2s ease-in-out;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
.newsletterSignupInput:focus {
  outline: none;
  background-color: #e1f08f;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
.newsletterSignupButton {
  border: none;
  height: 40px;
  width: 110px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 0 20px 20px 0;
  background-color: #db8ebe;
  color: black;
}
.newsletterSignupButton:hover {
  cursor: pointer;
  background-color: #ec9bcd;
  transition: all 0.2s ease-in-out;
}
