.blogCard {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 400px;
  border-radius: 20px;
  padding: 16px;
  box-shadow: 2px 2px 4px 0px #366314;
}
.blogCard:hover {
  box-shadow: 5px 5px 8px 0px #366314;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.blogDescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}
.blogDescription p {
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}